extend ../layout.pug


block content
	.container
		h1= movie.title
		hr
		.row
			.col-md-7
				video(controls='controls',src= movie.flash,style='width:100%') your browser does not support video
				hr
				form#callback(method='post',action='/user/comment',enctype='multipart/form-data')
					input(type='hidden',name='comment[movie]',value=movie._id)
					input(type='hidden',name='comment[from]',value=user._id)
					.form-group
						textarea.form-control(name='comment[content]',row='3')
						button.btn.btn-primary(type='submit',style='margin-top:5px;') 提交
			.col-md-5
				dl.dl-horizontal
					dt 电影名字
					dd= movie.title
					dt 导演
					dd= movie.director
					dt 国家
					dd= movie.country
					dt 语言
					dd= movie.language
					dt 上映年份
					dd= movie.year
					dt 浏览次数
					dd= movie.pv
					dt 简介
					dd= movie.summary
				hr
				dic.comment
					each item in comments
						div.block
							a.back(href='#callback',data-cid=item._id,data-tid=item.from._id)
								img(src='/images/skin.jpg')
							h4 &nbsp;&nbsp; #{item.from.name}
							span #{item.content}
							if item.reply&&item.reply.length>0
								each reply in item.reply
									div.subblock
										a.back(href='#callback',data-tid=item.from._id)
											img(src='/images/skin.jpg')
										h4 &nbsp;&nbsp; #{reply.from.name}
										span #{reply.content}
	script.
		$('.back').click(function(){
			var target = $(this);
			console.log(target);
			var cid = target.data('cid');
			var tid = target.data('tid');

			$('<input>').attr({
				type: 'hidden',
				name: 'comment[tid]',
				value: tid
			}).appendTo('#callback');

			$('<input>').attr({
				type: 'hidden',
				name: 'comment[cid]',
				value: cid
			}).appendTo('#callback');
		});
	style.
		.block{
			border-bottom: 1px solid rgba(0,0,0,.5);
		}
		.block img{
			width: 40px;
			height: 40px;
			float: left;
			border-radius: 4px;
			border-bottom: 1px solid gray;
		}
		.block h4{
			margin-bottom: 4px;
		}
		.block span{
			margin-left: 30px;
		}
		.subblock{
			margin-left: 100px;
		}